@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    font-family: Roboto;
    serif;
    background: linear-gradient(90deg, #383137ce 0%, #fff 100%);
}

.nav-link {
    color: rgba(58, 68, 64, 0.736);
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link.active {
    color: rgba(33, 33, 169, 0.557);
}

.navbar-brand img {
    width: 50px;
}

.container-fluid {
    background-color: rgba(69, 50, 50, 0.781);
    margin: 0em;
    padding: 0;
}


.navbar {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}

.bg-body-tertiary {
    background-color: aqua, !important;
}

.navbar-toggler {
    background-color: rgb(199, 199, 48);
}


.container-fluif {
    background-color: rgb(47, 39, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
}

.container-fluid {
    background-color: rgb(166, 177, 177);
    margin: 0;
    padding: 0;
}

/* .container-flui {background-color: bisque;align-items: center;
; */

.sidebar {
    color: rgb(73, 69, 135);
    background-color: #766d6d9e;
}

.card {
    background: linear-gradient(90deg, #cacaca8f 0%, #ffffff8c 100%)
}

.sidebar>a {
    text-decoration: none;
}

.tez {
    margin: auto auto;
}

footer,
{
background: rgba(250, 235, 215, 0.461);
margin: 0;
padding: 0;
width: 100%;
min-height: 100%;
}

.call {
    animation: myAnim 3s ease 0s infinite normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}


.footertez {
    color: rgba(88, 53, 172, 0.841);
}

.btn-outline-success {
    background: rgba(136, 236, 146, 0.42)
}

.navbar-brand {margin: 0; padding: 0;}